@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@font-face { font-family: 'S-CoreDream-8Heavy'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-8Heavy.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'IBMPlexSansKR-Regular'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff'); font-weight: normal; font-style: normal; }

body {
    background-color: black;
}

h1 {
    margin-left: 20px;
    font-size: 45px;
    color: rgba(47, 85, 151, 1);
    font-family: 'Russo One', sans-serif;
}

img {
    width: 350px;
    margin-right: 100px;
}

.writebox1 {
    margin: 100px 0px 0px 300px;
    display: flex;
    position: relative;
}

h2 {
    margin-top: 70px;
    margin-right: 10px;
    font-family: 'S-CoreDream-8Heavy'; 
    color: white;
    font-size: 50px;
}

h3 {
    margin-top: 85px;
    font-size: 40px;
    color: rgba(47, 85, 151, 1);
    font-family: 'IBMPlexSansKR-Regular';
}

.writebox2 {
    color: white;
    font-size: 20px;
    font-family: 'IBMPlexSansKR-Regular';
    line-height: 0.8;
    position: absolute;
    left: 37.5%;
    top: 34%;
}